
{{> carousel}}
<div class="container">
<div class="div">
  <div class="row">
    <div class="col-12 text-center mt-3">
      <h1>{{empresa}}</h1>
    </div>
  </div>
</div>
<hr>
<h6>
  <div class="container">
   <div class="row">
     <div class="col-12 text-center">
       <h1>
         Instrumentos Musicales y Audio Profesional
       </h1>
     </div>
   </div>


   <div class="row">
     <div class="col-12 mt-3">
       <p class="fs-6">
         La casa de música más completa de Argentina
  Bpm Instrumentos es una casa de música líder en instrumentos musicales y equipamiento de audio profesional. Disponemos de
  una amplia variedad de productos en nuestro catálogo, desde instrumentos de orquesta y estudio, hasta guitarras,
  baterías, pianos digitales, saxofones y ukeleles, además de equipos de grabación y microfonía líderes en el mercado.

  Desde guitarras criollas para principiantes hasta micrófonos y amplificadores profesionales, la tienda de instrumentos
  musicales online Bpm Instrumentos dispone de una amplia gama de equipamiento musical. No importa si lo que buscas es un
  micrófono, un teclado musical, una batería electrónica o un bajo eléctrico, siempre te daremos asesoramiento en lo que
  necesites.

  Tenemos algunas de las marcas más populares en stock, tales como Fender, Roland, Casio, Marshall, Ibanez, Behringer y
  Shure, sin olvidar que somos distribuidores oficiales Yamaha para instrumentos musicales y audio en Argentina.
       </p>
     </div>
   </div>
  </div>
  
  


<div class="container-fluid">
  <div class="container">
  <div class="row">
    <div class="col-4 mt-5 mb-5 text-center">
      <div class="card" style="width: 18rem;" >
        <img src="images/slides/a.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
            <a href="#" class="btn btn-dark">Ver Promociones</a>
        </div>
      </div>
    </div>
    <div class="col-4 mt-5 mb-5 text-center">
      <div class="card" style="width: 18rem;">
        <img src="images/slides/b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="btn btn-dark">Ver Promociones</a>
        </div>
      </div>
    </div>
    <div class="col-4 mt-5 mb-5 text-center">

      <div class="card" style="width: 18rem;">
        <img src="images/slides/c.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="btn btn-dark">Ver Promociones</a>
        </div>
      </div>

  
    </div>
  </div>
  </div>
</div>

</div>